<div class="container">
  <h1 class='mt-4'>Cocktails</h1>
  <div class="row justify-content-center">
    <% @cocktails.each do |cocktail| %>
      <div class="col-lg-4 col-md-6 col-sm-12 rounded-lg">
        <div class="card m-4 shadow p-3 mb-5 bg-white rounded-lg" style="width: 18rem;">
          <%= cl_image_tag cocktail.photo.key, class: "card-img-top rounded-lg", height: 300, width: 300, crop: :fill %>
          <div class="card-body ">
            <h1><%= link_to cocktail.name, cocktail_path(cocktail)  %></h1>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
