li {
 list-style-type: none;
}

.cocktail-container {
 display: flex;
}

.dose-container {
 padding-top: 48px;
}

.ingredient-container {
 padding-left: 48px;
}

.description-container {
 padding-left: 48px;
 margin-top: 48px;
}

.reviews-container {
 margin-bottom: 40px;
}

.review-content {
 margin: 10px;
}