<div class="footer">
  <div class="container">
    <div class="footer-up">
      <div class="info-footer">
        <i class="fas fa-envelope" id='envelope-footer'></i>
        <a href="Email:Renaud.archerf@gmail.com">Renaud.archerf@gmail.com</a>
      </div>
      <div class="social-footer">
        <a id="git", href="https://github.com/renaudaf", target="_blank"><i class="fab fa-github"></i></a>
        <a id="linkedin", href="https://www.linkedin.com/in/renaud-archer-fortin/", target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>
      <p class="legal-footer">© Copyright 2020 RAF, All Rights Reserved.</p>
    </div>
  </div>
</div>
