<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/cocktails">
    <i class="fas fa-glass-martini-alt"></i>
    Renaud's Casa Di Mama
  </a>
  <a href="/cocktails/new" class='btn btn-sm btn-outline-secondary'>Add A Cocktail</a>
</nav>
