.footer {
 clear: both; //prevents floating elements from right/left of footer
 z-index: 1; //z-index positions elements in front or behind eachother, most have a //natual z-index of -1
 width: 100%;
 position: fixed;
 bottom: 0;
 right: 0;
 background: #fafafa;
 text-align: center;
 padding: 10px 0;
 p {
  color: $main-color;
  font-size: 10px;
  margin: 0;
 }
}

.footer-up {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding-top: 10px;
}

.legal-footer {
 font-size: 10px;
}

#envelope-footer {
 font-size: medium;
 color: $main-color;
 margin-right: 10px;
}

.info-footer {
 display: flex;
 a {
  color: $main-color;
  text-decoration: none;
  font-size: 12px;
 }
}

.social-footer {
 a {
  color: $main-color;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
 }
}